<div ng-switch on="page">
<div ng-switch-when="menu">
<div class="nutrient">
  <h1>Thông Tin Chung</h1>
  <div class="icon-row">
  	<label for="fullname">Họ và tên</label>
    <input type="text" id="fullname" ng-model="customer.fullname" class="longText"/>
  	<span class="span">Giới tính</span>
  	<input type="radio" ng-model="customer.gender" value="Nam"/>Nam
  	<input type="radio" ng-model="customer.gender" value="Nữ"/>Nữ
   	<span class="span">Năm sinh</span>
    <input type="text" id="age" ng-model="customer.age" class="number" maxlength="4"/>
  </div>
  <div class="icon-row">
  	<label for="address">Địa chỉ</label>
  	<input type="text" id="address" ng-model="customer.address" class="address"/>
  </div>
  <div class="icon-row">
  	<label for="tel">Số điện thoại</label>
  	<input type="tel" id="tel" ng-model="customer.tel" />
  </div>
  <div class="icon-row">
    <input type="button" value="Xuất báo cáo" ng-click="exportToWeb();"/>
  </div>
</div>
<br/>

<!-- Add food -->
<div class="nutrient">
  <h1>Chọn món ăn</h1>
  <div class="icon-row">
  	Bữa ăn
  	<select id="time" ng-model="meal.time" ng-options="t.label for t in times" ng-required ng-change="timeChanged()"></select>

    <span class="span">Món ăn</span>
    <!--<select id="food" ng-model="meal.food" ng-options="f.thucan for f in foods | filter:meal.time.value"></select>-->
    <input type="text" autocomplete="meal.food" class="mediumText"/>

    <span class="span">Số lượng</span>
    <input type="text" id="quantity" ng-model="meal.quantity" class="number" maxlength="2"/>
    <input type="button" value="Thêm vào" ng-click="saveFood();"/>  
  </div>

</div>
<br/>
<div class="nutrient">
  <h1>Thông tin cho món ăn</h1>
  <table class="table">
    <thead>
      <tr>
        <th style="width:40px">STT</th>
        <th style="width:180px">Bữa ăn</th>
        <th style="width:250px">Món ăn</th>
        <th style="width:80px">Số lượng</th>
        <th>Năng Lượng Kcal</th>
        <th>Đạm Kcal</th>
        <th>Béo Kcal</th>
        <th>Đường Kcal</th>
        <th>Vitamin Kcal</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in menu | orderBy:'time.order'"">
        <td>{{$index + 1}}</td>
        <td>{{item.time.label}}</td>
        <td>{{item.food.thucan}}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.quantity * item.food.nangluong | number : 1}}</td>
        <td>{{item.quantity * item.food.dam * 4 | number : 1}}</td>
        <td>{{item.quantity * item.food.beo * 9 | number : 1}}</td>
        <td>{{item.quantity * item.food.duong * 4 | number : 1}}</td>
        <td>{{item.quantity * item.food.vitamin | number : 1}}</td>
      </tr>
      <tr>
        <td colspan="4">Năng lượng 1 ngày</td>
        <td>{{menu | total: 'nangluong' | number : 1}}</td>
        <td>{{menu | total: 'dam' | number : 1}}</td>
        <td>{{menu | total: 'beo' | number : 1}}</td>
        <td>{{menu | total: 'duong' | number : 1}}</td>
        <td>{{menu | total: 'vitamin' | number : 1}}</td>
      </tr>
      <tr>
        <td colspan="5">Tỉ lệ phần trăm năng lượng trong 1 ngày</td>
        <td>{{menu | percentage: 'dam' | number : 0}}%</td>
        <td>{{menu | percentage: 'beo' | number : 0}}%</td>
        <td>{{menu | percentage: 'duong' | number : 0}}% </td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

