<div style="margin-left:auto;margin-right:auto;width:800px"><a class="back" href="#/">&lt;&lt; Quay lại</a></div>
<br/>
<div id="wrap">
  <div class="infor">
    	<table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td class="italic">Họ và tên: <span class="dotted w1">{{customer.fullname}}</span></td>
          <td class="italic w2">Giới tính: <span class="dotted">{{customer.gender}}</span></td>
          <td class="italic w3">Năm sinh: <span class="dotted">{{customer.yearOfBirth}}</span></td>
        </tr>
        <tr>
          <td class="italic" colspan="3">Địa chỉ: <span class="dotted">{{customer.address}}</span></td>
        </tr>
        <tr>
          <td class="italic" colspan="3">Số điện thoại: <span class="dotted">{{customer.tel}}</span></td>
        </tr>
      </table>
</div>

<div class="groupHeader">Phân tích bữa ăn:</div>
<table class="table">
    <thead class="fontTitle">
      <tr>
        <th style="width:180px;border:none;background:none"></th>
        <th style="width:300px">Món ăn</th>
        <th style="width:80px">Số lượng</th>
        <th>Năng lượng<br/>(Kcal)</th>
        <th>Đạm<br/>(Kcal)</th>
        <th>Đường<br/>(Kcal)</th>
        <th>Béo<br/>(Kcal)</th>        
        <th>Vitamin<br/>(Kcal)</th>
      </tr>
    </thead>
    <tbody menu="menu"></tbody>
  </table>

<div>
  <div class="groupHeader">Phân tích năng lượng:</div>
  <span class="xLabel">Kcal</span>
  <div class="clear"></div>
  <div id="divForGraph" style="width: 490px; height: 250px; display: inline-block"></div>
  <div class="bosung">
    <div class="instruction">Bổ sung dinh dưỡng đường uống:</div>
    <div><i>Bạn cần uống thêm <span style="font-size:14pt; color:red;">{{numOfGlasses.length}}</span> ly <img src="images/ensure.png" style="vertical-align: middle;"/> mỗi ngày</i></div>
    <div style="width: 200px" >
      <img ng-repeat="glass in numOfGlasses" src="images/milk.png" style="float:left; width: 55px"/>
      <div class="clear"></div>
    </div>
  </div>
</div>
<div class="clear"></div>

<div>
  <div class="groupHeader">Đề xuất:</div>  
  <div class="commentBox2">
    <table cellpadding="0" cellspacing="0">
      <thead>
          <tr>        
            <th colspan="2" class="col fontTitle">Đánh giá</th>
          </tr>
      </thead>
      <tr class="commentBox">
          <td>{{level.nangluong.evaluate}}</td>
      </tr>
      <tr class="commentBox">
          <td>{{level.dam.evaluate}}</td>
      </tr>
      <tr class="commentBox">
          <td>{{level.duong.evaluate}}</td>
      </tr>
      <tr class="commentBox">
          <td>{{level.beo.evaluate}}</td>
      </tr>
    </table>
  </div>
  <div class="commentBox2">
    <table cellpadding="0" cellspacing="0">
      <thead>
          <tr>        
            <th colspan="2" class="col fontTitle">Khuyến nghị</th>
          </tr>
      </thead>
      <tr class="commentBox">
          <td>{{level.nangluong.recommend}}</td>
      </tr>
      <tr class="commentBox">
          <td>{{level.dam.recommend}}</td>
      </tr>
      <tr class="commentBox">
          <td>{{level.duong.recommend}}</td>
      </tr>
      <tr class="commentBox">
          <td>{{level.beo.recommend}}</td>
      </tr>
    </table>
  </div>
</div>
<div class="clear"></div>